@charset "UTF-8";
@component sf-picviewer {
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: 11000;
    cursor: move;
    user-select: none;
    background-color: rgba(222, 222, 222, 0.5);
    direction: ltr !important;
    outline: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    &:-webkit-full-screen {
        & .u-icon-font.icon-close {
            top: 0;
            right: 0;
        }
    }
    &:focus {
        outline: none;
    }
    &:hover {
        & .u-icon-font {
            display: block;
        }
        & .picviewer-footer {
            display: flex !important;
        }
    }
    & .picviewer-canvas-wrap {
        overflow: hidden;
        height: 100%;
        width: 100%;
        box-shadow: 0px 2px 14px rgba(183, 183, 183, 0.5);
        & .picviewer-canvas {
            & .picviewer-img {
                display: block;
                width: 100%;
                height: auto;
                min-width: 0 !important;
                min-height: 0 !important;
                max-width: none !important;
                max-height: none !important;
                &.transition {
                    transition: all .3s ease-out;
                }
                &.move {
                    transition: none;
                }
            }
        }
        & .picviewer-footer {
            display: none;
            height: 80px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            bottom: 10px;
            left: 50%;
            margin-left: -150px;
            & .picviewer-title {
                font-size: 12px;
                line-height: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                opacity: 0.5;
                color: #ccc;
            }
            & .picviewer-toolbar-warp {
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 40px;
                width: 300px;
                height: 50px;
                & .picviewer-toolbar {
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 86%;
                    height: 100%;
                    & .banner {
                        width: 1px;
                        background-color: #3a3a3a;
                        height: 24px;
                    }
                }
            }
        }
    }
    & .u-icon-font {
        cursor: pointer;
        font-size: 30px;
        color: #fff;
        display: none;
        font-family: 'iconfont' !important;
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        line-height: inherit;
        &.disabled {
            font-size: 30px;
            cursor: default;
            opacity: 0.5;
        }
        &.icon-close {
            position: absolute;
            display: block;
            top: -10px;
            right: -10px;
            border-radius: 50%;
            font-size: 40px;
            background-color: rgba(0, 0, 0, 0.5);
            width: 20px;
            height: 20px;
            &:before {
                font-size: 30px;
                position: absolute;
                top: 10px;
                right: -6px;
            }
        }
        &.icon-arrowleft {
            position: absolute;
            top: 50%;
            margin-top: -15px;
            border-radius: 50%;
            left: 0px;
            margin-left: 20px;
            background-color: rgba(0, 0, 0, 0.5);
        }
        &.icon-arrowright {
            position: absolute;
            top: 50%;
            margin-top: -15px;
            border-radius: 50%;
            right: 0px;
            margin-right: 20px;
            background-color: rgba(0, 0, 0, 0.5);
        }
        &.icon-one2one:before {
            content: "\e600";
        }
        &.icon-zoomin:before {
            content: "\e605";
        }
        &.icon-notfullscreen:before {
            content: "\e608";
        }
        &.icon-close:before {
            content: "\e607";
        }
        &.icon-fullscreen:before {
            content: "\e606";
        }
        &.icon-arrowleft:before {
            content: "\e60a";
        }
        &.icon-zoomout:before {
            content: "\e60c";
        }
        &.icon-arrowright:before {
            content: "\e60d";
        }
        &.icon-download:before {
            content: "\e60e";
        }
        &.icon-rotate:before {
            content: "\e60f";
        }
    }
}

@font-face {
    font-family: 'iconfont';
    /* project id 158250 */
    src: url('https://at.alicdn.com/t/font_g1qf9mqd10tl0udi.eot');
    src: url('https://at.alicdn.com/t/font_g1qf9mqd10tl0udi.eot?#iefix') format('embedded-opentype'), url('https://at.alicdn.com/t/font_g1qf9mqd10tl0udi.woff') format('woff'), url('https://at.alicdn.com/t/font_g1qf9mqd10tl0udi.ttf') format('truetype'), url('https://at.alicdn.com/t/font_g1qf9mqd10tl0udi.svg#iconfont') format('svg');
}
